ahocorapy == 1.6.1
fasttext
nltk == 3.6.2
numpy
orjson
pymorphy2 == 0.9.1
pymystem3
ru-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.5.0/ru_core_news_lg-3.5.0-py3-none-any.whl
scikit-learn
tensorflow == 2.5.0
tf-keras == 2.17.0
torch == 2.4.1
transformers == 4.6.0
